---
import Layout from "../../layouts/Layout.astro";
import ComponentSelector from "../../components/ComponentSelector.astro";
---

<Layout title="@lastfm-viewer - Live Demo">
	<h2 class="mb-8">Choose the UI framework that you're working with</h2>

	<ComponentSelector selected={null} />
</Layout>
