---
import ComponentLink from "./ComponentLink.astro";

interface Props {
	selected: "Solid" | "React" | "Svelte" | null;
}
const { selected } = Astro.props;
const backColor =
	selected == "React"
		? `bg-[#61dafb] shadow-[#61dafb]`
		: selected == "Solid"
			? `bg-[#2c4f7c] shadow-[#2c4f7c]`
			: selected == "Svelte"
				? `bg-[#ff3e00] shadow-[#ff3e00]`
				: `bg-[#444] shadow-[#444]`;
---

<div
	class="my-12 p-4 flex gap-4 justify-center items-center w-min mx-auto rounded-xl shadow-lg ring-2 ring-black/50"
	class:list={[backColor]}
>
	<ComponentLink name="Solid" currentName={selected}>Solid-js</ComponentLink>
	<div class="w-8 h-1 rounded-lg bg-white/50"></div>
	<ComponentLink name="React" currentName={selected}>React</ComponentLink>
	<div class="w-8 h-1 rounded-lg bg-white/50"></div>
	<ComponentLink name="Svelte" currentName={selected}>Svelte</ComponentLink>
</div>
