---
import { Icon } from "astro-icon/components";
import LFMVLogoStatic from "./LFMVLogoStatic.astro";
---

<footer class="py-12 px-4 bg-gray-900/30" transition:name="footer">
	<div class="max-w-4xl mx-auto text-center">
		<div
			class="flex flex-col sm:flex-row gap-8 items-center justify-center mb-6"
		>
			<!-- <Music class="h-8 w-8 text-white relative z-10" /> -->
			<LFMVLogoStatic class="h-8 w-8 text-white relative z-10" />
			<p class="text-gray-400">
				<span class="font-mono">@lastfm-viewer</span> • MIT License
			</p>
			<ul
				class="flex sm:flex-row flex-col justify-center items-center-safe gap-6"
			>
				<a
					href="https://github.com/ZOASR/lastfm-viewer/blob/main/README.md"
					class="text-gray-500 hover:text-white transition-colors"
				>
					Documentation
				</a>
				<a
					href="/livedemo"
					class="text-gray-500 hover:text-white transition-colors"
				>
					Live Demo
				</a>
				<a
					href="https://github.com/ZOASR/lastfm-viewer"
					class="text-gray-500 hover:text-white transition-colors flex items-center gap-1"
				>
					<Icon name="lucide:github" class="size-5" />
					GitHub
				</a>
			</ul>
		</div>

		<p class="text-xs text-gray-600">
			Built with ❤️ for the Last.fm community
		</p>
	</div>
</footer>
