---
import Logo from "./Logo.astro";
import NpmCarousel from "./NpmCarousel.astro";
---

<header
	class="flex justify-between w-full text-slate-200 py-6 h-auto overflow-x-clip"
>
	<NpmCarousel />
	<a href="/" role="link">
		<Logo />
	</a>
	<a
		class="group relative w-32 cursor-pointer self-center z-50 opacity-25 scale-50 hover:scale-75 hover:opacity-100 hover:translate-x-0 transition-all duration-300 translate-x-1/3"
		href="https://github.com/ZOASR/lastfm-viewer"
		target="_blank"
		rel="noopener noreferrer"
		aria-label="Link to @lastfm-viewer repo"
	>
		<div class="">
			<img
				src="/github-mark-white.svg"
				class="-rotate-90 filter invert"
				alt="GitHub logo that links to GitHub repo"
			/>
			<div
				class="group-hover:opacity-100 group-hover:visible invisible text-2xl opacity-0 absolute -translate-x-[110%] top-[25%] ring-2 ring-black bg-white text-black text-nowrap font-bold transition-all duration-300 p-4 rounded-lg"
			>
				ZOASR/lastfm-viewer
			</div>
		</div>
	</a>
</header>
