---
import LiveDemoButton from "./LiveDemoButton.astro";
import LFMVLogo from "./LFMVLogo.astro";
const title = "@lastfm-viewer";
import { Icon } from "astro-icon/components";
---

<section
	class="min-h-[calc(100dvh_-_(var(--spacing)_*_28))] w-full flex flex-col items-center justify-center py-16 px-4 relative border-b border-gray-800"
>
	{/* Logo */}

	<LFMVLogo />

	{/* Package Name */}

	<h1
		style=`--title-text:"${title}" `
		class="text-6xl md:text-7xl font-mono mb-8 relative title"
	>
		{title}
	</h1>

	{/* Short Description */}
	<p class="text-lg text-gray-300 mb-12 text-center max-w-xl">
		UI components to view <a
			href="https://last.fm"
			class="underline hover:text-white transition-all">last.fm</a
		> recent scrobbles in React, Solid.js, and Svelte
	</p>

	<div class="max-w-4xl mx-auto text-center relative z-10">
		<h2 class="text-3xl font-bold mb-8">Try it out</h2>
		<p class="text-lg text-gray-300 mb-12">
			Experience the components in action with our interactive demo
		</p>

		<LiveDemoButton />
	</div>

	{/* Scroll Down Indicator */}
	<div class="absolute bottom-[2%] animate-bounce">
		<Icon name="lucide:chevron-down" class="h-8 w-8 text-gray-500" />
	</div>
</section>

<style>
	.title {
		cursor: text;
		font-size: clamp(2.5rem, 10vw, 4.5rem);
		text-align: center;
	}
	.title {
		background: linear-gradient(
			90deg,
			var(--color-solid),
			var(--color-svelte),
			var(--color-react)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		position: relative;
	}
	.title::before {
		content: var(--title-text);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: inherit;
		filter: blur(30px);
	}
</style>
