---
import CodeBlock from "./Solid/CodeBlock";
---

<section id="installation" class="py-24 px-4 border-b border-gray-800">
	<div class="sm:w-[70%] w-full max-w-[700px] text-xs mx-auto">
		<h2 class="text-3xl font-bold mb-8 text-center">Get started</h2>
		<CodeBlock client:only="solid" />
	</div>
</section>
