<a href="/livedemo">
	<button
		class="live-demo-button rounded-md py-4 px-6 text-white font-bold text-lg cursor-pointer"
	>
		Go to live demo
	</button>
</a>

<style>
	@property --angle {
		syntax: "<angle>";
		initial-value: 0deg;
		inherits: false;
	}
	@keyframes rotate {
		100% {
			--angle: 360deg;
		}
	}

	.live-demo-button {
		--gradient: conic-gradient(
			from var(--angle) at 50% 50%,
			transparent,
			#ff3e0088 10%,
			transparent 30%,
			#61dafb88 50%,
			transparent 70%,
			#2c4f7c88 90%,
			transparent
		);
		position: relative;
		animation: rotate 10s linear infinite;
		border: 2px solid #0000;
		background:
			linear-gradient(90deg, #000, #000) padding-box,
			var(--gradient) border-box;

		&::after {
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			animation: rotate 10s linear infinite;
			border-radius: inherit;

			background: var(--gradient);
			filter: blur(10px);
			opacity: 0.7;
		}
	}
</style>
