---
import NpmLink from "./NpmLink.astro";
---

<nav class="h-full z-10">
	<ul
		class="flex flex-col gap-4 w-20 h-full list-none list-outside p-0 justify-center"
	>
		<NpmLink
			link="https://www.npmjs.com/package/@lastfm-viewer/solid"
			src="/solid_logo.svg"
			classes="ring-[#457dc5] bg-[#2c4f7c] text-white"
			dropShadow="drop-shadow-[0_0_20px_#2c4f7c]"
		>
			@lastfm-viewer/solid
		</NpmLink>
		<NpmLink
			link="https://www.npmjs.com/package/@lastfm-viewer/react"
			src="/react-icon.svg"
			classes="ring-[#357a8d] bg-[#61dafb] text-black"
			dropShadow="drop-shadow-[0_0_20px_#61dafb]"
		>
			@lastfm-viewer/react
		</NpmLink>
		<NpmLink
			link="https://www.npmjs.com/package/@lastfm-viewer/svelte"
			src="/svelte-logo-square.svg"
			classes="ring-white bg-[#ff3e00] text-white"
			dropShadow="drop-shadow-[0_0_20px_#ff3e00]"
		>
			@lastfm-viewer/svelte
		</NpmLink>
	</ul>
</nav>
