---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";

export interface Props {
	title: string;
	showLogo?: boolean;
}

const { title, showLogo } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="LastFM Components for React, Svelte, and Solid"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500;600&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body
		class="bg-gray-950 text-gray-100 font-inter antialiased min-h-screen grid grid-rows-[auto_1fr_auto] w-full"
	>
		<Header showLogo={showLogo} />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	.shiki {
		background: transparent !important;
	}

	pre.shiki {
		white-space: pre-wrap;
		word-break: keep-all;
	}
</style>
