ul > li {
	list-style: none;
	list-style-position: outside;
}
ul {
	padding: 0;
}

code {
	padding: 0.5rem;
	border: 2px solid #fff3;
	background-color: #0002;
	border-radius: 4px;
}

h1 {
	text-align: center;
}
main {
	line-height: 2;
}
