---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "./markdown_styles.css";
import "@fontsource-variable/jost";
import "@fontsource/inter";

interface Props {
	frontmatter: {
		title: string;
	};
}

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Homepage for the @lastfm-viewer packages"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<Header />
		<main class="ring-2 ring-white/10 p-5 rounded-lg">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	/* CSS RESETS */
	html,
	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		margin: 0;
		padding: 0;
		font-family: "Inter";
		background: #13151a;
		color: white;
		background-size: 224px;
	}

	body {
		line-height: 1.4;
		font-size: 1.6em;
		height: 100dvh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: start;
	}

	html {
		font-size: 62.5%;
		scroll-behavior: smooth;
		height: 100dvh;
	}

	button {
		cursor: pointer;
		background-color: transparent;
		border: none;
	}

	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	/* CSS RESETS */

	main {
		margin: 0 auto;
		padding: 2rem;
		max-width: 1280px;
		color: white;
		text-align: left;
		font-family: "jost Variable", sans-serif;
		flex: 1;
		font-size: 2rem;
	}
</style>
